body {
    background: url(../images/bg-pattern-desktop.svg); 
    background-color: linear-gradient(150deg, #FFF 0%, #FFF4F4 100%);
    background-repeat: no-repeat;
}

.errorMessage {
    color: #F96464;
    
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}