@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap');


body {
    background: url(../images/bg-desktop.svg) #684BB1;
    background-repeat: no-repeat;
    
    
}

#logo {
    width: 250px;
    height: 40px; 
    margin-top: 64px; 
    margin-bottom: 104px;
}

h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 150% */
    margin-top: 23px;
    margin-bottom: 24px;
    width: 487px;
}

p {
    color: #FFF;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    margin-bottom: 24px;
    width: 520px;
}



button.btn-register {
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 28px;
    background: #FFF;
    box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.26);
    color: #684BB1;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}

button.btn-register:hover {
    border-radius: 28px;
    background: #E880E8;
    box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.26);
    color: #FFF;
}

footer {
    text-align: right;
}


.btn-social-icon {
    border-color: #FFF;
    border-radius: 50%;
    text-align: center;
    color:#FFF;
    margin: 5px;
    width: 40px;
    height: 40px;
  
}

.btn-social-icon:hover {
    color:#FF52C1;
    border-color: #FF52C1;
}


/* Responsive */

@media only screen and (max-device-width: 480px){
    body {
        background: url(../images/bg-mobile.svg) #684BB1;
        background-repeat: no-repeat;
        background-position: top;
    }

    #contentRow {
        text-align: center;
    }

    #logo {
        margin-top: 28px; 
    }

    #illustration {
        text-align: center;
        /* margin-left: 32px; */
        max-width: 400px;
    
    }

    h1 {
        
        max-width: 400px;
        font-size: 30px;
    }

    p {
        
        max-width: 360px;
        margin-bottom: 24px;
        text-align: center;
    }

    button.btn-register {
        width: 200px;
        height: 40px;
        flex-shrink: 0;
        color: #684BB1;
    }

    footer {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }


}