@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body {
    background: #FF7979 url(../images/bg-intro-desktop.png);
    font-family: Poppins;

}

#leftSection {
    color: #FFF;
    align-content: middle;
}

h1 {
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 110% */
    letter-spacing: -0.521px;
}


.btn-primary {
    width:  auto;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    pointer-events: none;
    background: #5E54A4;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 24px;
    margin-top: 64px;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 173.333% */
    letter-spacing: 0.268px;
}


form {
    width: auto;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
    padding:25px;
}



.btn-success {
    width: auto;
    height: 56px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #38CC8B;
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: 600;
}

.btn-success:hover {
    border-radius: 5px;
    background: #77E2B3;
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;
}

.text-muted {
    color: #BAB7D4;
    font-size: 11px;
    font-weight: 500;
    line-height: 26px;
}

.errorMessage {
    color: #FF7979;
    text-align: right;
    font-family: Poppins;
    font-size: 11px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.invalid-feedback:focus {
    border-radius: 5px;
    border: 50px solid #95ba1c;
    background: #FFF;
}


@media only screen and (min-device-width: 600px){
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}